body{
	overflow: hidden;
}
.one{
	background-color: #315b8a;
	min-height: 100vh;
}

.two{
	background-color: #ff5c00;
	height: 100vh;
	/*overflow: hidden;*/
}

.three{
	background-color: #231F20;
	height: 100vh;
}

p{
	display: none;
}